<app-header [myTitle]="title" (menuClick)="sidenav.toggleDrawer()"></app-header>

<!--<app-sidenav-->
<!--  [isSidenavOpen]="isSidenavOpen"-->
<!--  (isSidenavOpenChange)="isSidenavOpen = $event"-->
<!--&gt;</app-sidenav>-->

<!--<app-sidenav [(isSidenavOpen)]="isSidenavOpen"></app-sidenav>-->

<!--<app-sidenav #sidenav [listTemplate]="listTemplate">-->
<app-sidenav #sidenav>
  <input type="text">
  <app-products></app-products>
  <ng-template #list>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </ng-template>
</app-sidenav>
